* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
main {
  width: 100%;
  padding: 2rem;
  background-color: #c6d1dd;
}
section {
  height: 100%;
  width: 100%;
  display: grid;

  grid-gap: 1rem;
  grid-template-columns: 70% 23%;

  img {
    border-radius: 1rem;
  }

  #left {
    // background-color: antiquewhite;

    display: grid;
    grid-template-rows: 40% 21%;
    grid-gap: 1rem;

    #lefttop {
      // background-color: red;
      grid-gap: 1rem;
      display: grid;
      grid-template-areas:
        "a a b c "
        "d d e e ";

      grid-template-rows: 52% 42%;
      img {
        height: 100%;
        width: 100%;
      }
      #imga {
        grid-area: a;
      }
      #imgb {
        grid-area: b;
      }
      #imgc {
        grid-area: c;
      }
      #imgd {
        grid-area: d;
      }
      #imge {
        grid-area: e;
      }
    }

    #leftbtm {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 55% auto;
      grid-gap: 1rem;

      // background-color:yellow;
      img {
        max-height: 60%;
        width: 100%;
      }
    }
  }
  #right {
    display: grid;
    // background-color: rgb(232, 152, 46);
    // grid-template-rows: 50% 53% ;
    grid-template-rows: 32% 29%;
    grid-gap: 1rem;

    img {
      height: 100%;
      width: 100%;
    }
  }
}

@media (max-width: 1020px) {
  main {
    padding: 1vw;
    width: 100%;
    height: 100%;

    // background-color: #C6D1DD;
  }

  body {
    background-color: #c6d1dd;
  }
  section {
    width: 100%;
    padding: 1vw;

    display: flex;
    gap: 1vw;
    flex-direction: column;

    #left {
      display: flex;
      flex-direction: column;

      // height: 100vw;
      width: 100%;
      // background-color: aqua;

      // overflow: hidden;

      #lefttop {
        height: 50vw;
        grid-gap: 1rem;
        display: grid;
        grid-template-areas:
          "a a b b "
          "c c c c"
          "d d e e ";
        grid-template-rows: 50vw 40vw auto;
        margin-bottom: 35vw;

        #imgc {
          grid-area: c;
          object-fit: cover;
        }
      }
      #leftbtm {
        height: 35vw;
        margin-top: 50vw;

        img {
          height: 50vw;

          //  width: 100%;
        }
      }
    }
    #right {
      display: grid;
      // background-color: rgb(232, 152, 46);
      display: flex;
      flex-direction: column;
      gap: 2vw;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
